.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color:#4F84CE;
  TEXT-DECORATION: underline;
}

h3 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color:#4F84CE;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
}

.form-group {
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form-group label {
  font-weight: bold;
}

.form-group input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  
}

.btn-primary {
  background-color: #F16723;
}

.btn-success {
  background-color: #28a745;
}

.air-quality, .solution {
  margin-top: 20px;
}

.quality-level {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

.solution-text {
  font-size: 25px;
  color: #000000;
}
.form-row {
  display: flex;
  flex-wrap: wrap; /* Permettre le passage à la ligne */
  justify-content: space-between;
}

.form-group {
  width: calc(33.33% - 10px); /* Ajuster la largeur pour 3 éléments par ligne */
  margin-bottom: 15px;
}
