<div class="error-message" *ngIf="errorMessage">
  <!-- Close button for dismissing the error message -->
  <span class="closebtn" (click)="errorMessage = '';">&times;</span>
  
  <!-- Error message content -->
  <strong>Erreur :</strong> {{ errorMessage }}
</div>

<div class="success-message" *ngIf="successMessage">
  <!-- Close button for dismissing the error message -->
  <span class="closebtn" (click)="successMessage = '';">&times;</span>
  
  <!-- Error message content -->
  <strong> {{ successMessage }} </strong>
</div>

<br>
<body>
  <h1>Bienvenue ! <br>Veuillez fournir les informations suivantes pour compléter votre inscription</h1>
  <br><br>
  <div class="signup-container">
  <form class="signup-form" (ngsubmit)="onSubmit()" [formGroup]="form">
    <label for="first_name">Nom de famille :</label>
    <input type="text" id="first_name" name="first-name" required placeholder="Entrez votre nom " formControlName="firstName">

    <label for="last_name">Prénom:</label>
    <input type="text" id="last_name" name="last_name" required placeholder="Entrez votre prénom " formControlName="lastName">

  <label for="email">Adresse e-mail :</label>
  <input type="email" id="email" name="email" required placeholder="Entrez votre adresse e-mail" formControlName="email">

  <label for="password">Mot de passe :</label>
  <input type="password" id="password" name="password" required placeholder="Entrez votre mot de passe" formControlName="password">

  <label for="confirmPassword">Confirmez le mot de passe :</label>
  <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confirmez votre mot de passe" formControlName="confirmPassword">

  <label for="phoneNumber">Numéro de téléphone :</label>
  <input type="text" id="phoneNumber" name="phoneNumber" required placeholder="Entrez votre numéro de téléphone" formControlName="phoneNumber">

 

  <label for="housingType">Type d'habitation :</label>
  <select id="housingType" name="housingType" formControlName="housingType">
      <option value="Appartement">Appartement</option>
      <option value="Maisson">Maison</option>
      <option value="Entreprise">Entreprise</option>
      <option value="Autre">Autre</option>
  </select>

<label for="secteurActivite">Secteur d'activité :</label>
<select id="secteurActivite" name="secteurActivite" formControlName="secteurActivite">
  <option value="SANTE_ET_BIEN_ETRE">Santé et bien-être</option>
  <option value="EDUCATION">Éducation</option>
  <option value="TECHNOLOGIE_DE_L_INFORMATION">Technologie de l'information</option>
  <option value="INDUSTRIE_MANUFACTURIERE">Industrie manufacturière</option>
  <option value="SERVICES_PROFESSIONNELS">Services professionnels</option>
  <option value="IMMOBILIER">Immobilier</option>
  <option value="COMMERCE_DE_DETAIL">Commerce de détail</option>
  <option value="HOTELLERIE_ET_RESTAURATION">Hôtellerie et restauration</option>
  <option value="AGRICULTURE">Agriculture</option>
  <option value="ENVIRONNEMENT_ET_DEVELOPPEMENT_DURABLE">Environnement et développement durable</option>
</select>

<label for="companySize">Taille de l'entreprise :</label>
<select id="companySize" name="companySize" formControlName="companySize">
<option value="PETITE">Petite</option>
<option value="MOYENNE">Moyenne</option>
<option value="GRANDE">Grande</option>
</select>

<label for="packs">Type d'abonnement :</label>
<select id="packs" name="packs" formControlName="packs">
<option *ngFor="let pack of listPack" 
    [value]="pack.id" >
  {{pack.title}}
</option>
</select>
  <br> <br>

    <input type="checkbox" id="acceptTerms" name="acceptTerms" required formControlName="acceptTerms">
    <label for="acceptTerms">J'accepte les conditions générales d'utilisation et la politique de confidentialité</label>
  <button type="submit" (click)="onSubmit()">S'inscrire</button>

  </form>
  </div>
  <br><br><br> <br> <br> <br> <br>
  </body>
  





