<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<body>
<section class="hero">
  <img src="assets/imgs/homegraph.png" alt="Image d'accueil" class="hero-image">
</section>

<section class="air-quality">
  <div class="container">
    <h2>Respirer un air sain, un enjeu majeur de santé</h2>
    <p>Dans un monde où nous passons la plupart de notre temps à l'intérieur, que ce soit à la maison, au travail ou dans d'autres espaces clos, la qualité de l'air que nous respirons devient de plus en plus critique pour notre santé et notre bien-être.</p>
  </div>
</section>
<section class="pollution">
  <div class="container">
    <h2>Les dangers de la pollution intérieure</h2>
    <p>L'air intérieur peut être jusqu'à cinq fois plus pollué que l'air extérieur, principalement en raison de la présence de polluants tels que les produits chimiques volatils, les particules fines, les moisissures et les allergènes.</p>
  </div>
</section>
<section class="health">
  <div class="container">
    <h2>Les conséquences sur la santé</h2>
    <p>Respirer un air de mauvaise qualité peut entraîner une multitude de problèmes de santé, allant des simples irritations des voies respiratoires aux maladies respiratoires chroniques telles que l'asthme et la bronchite, ainsi qu'à des affections plus graves comme les maladies cardiaques et les cancers du poumon.</p>
  </div>
</section>
<section class="monitoring">
  <div class="container">
    <h2>La nécessité de surveiller la qualité de l'air intérieur</h2>
    <p>Face à ces risques pour la santé, il est essentiel de surveiller régulièrement la qualité de l'air intérieur dans nos espaces de vie et de travail. En identifiant les sources de pollution et en prenant des mesures pour les réduire, nous pouvons améliorer la qualité de l'air que nous respirons et protéger notre santé et celle de nos proches.</p>
  </div>
</section>
<section class="articles">
  <div class="article">
    <img src="assets/imgs/1.png" alt="Article 1">
    <h2> <a href="https://fr.sanalifewellness.com/blog/5-reasons-why-your-building-needs-indoor-air-monitoring-a-comprehensive-guide" class="btn" target="_blank" style="font-weight:bold;">5 Raisons Pour Lesquelles Votre Bâtiment A Besoin D'une Surveillance De L'air Intérieur : Un Guide Complet</a></h2>
    <p>Découvrez pourquoi il est essentiel de surveiller la qualité de l'air intérieur dans votre bâtiment.</p>
    
  </div>
  <div class="article">
    <img src="assets/imgs/2.png" alt="Article 2">
    <h2><a href="https://fr.sanalifewellness.com/blog/breathing-new-life-into-our-schools-lessons-from-the-pandemic-on-indoor-air-quality" class="btn" target="_blank" style="font-weight:bold;">Rendre Vie À Nos Écoles : Leçons De La Pandémie Sur La Qualité De L'air Intérieur</a></h2>
    <p>Découvrez les leçons tirées de la pandémie sur la qualité de l'air intérieur dans nos écoles.</p>
    
  </div>
  <div class="article">
    <img src="assets/imgs/3.png" alt="Article 3">
    <h2><a href="https://www.bureauveritas.fr/besoin/surveillance-de-la-qualite-de-lair-interieur-dans-les-erp" class="btn" style="font-weight:bold;" target="_blank">surveillance de la qualité de l'air interieur dans les erp</a></h2>
    <p>Découvrez l'importance de surveiller la qualité de l'air intérieur dans les Établissements Recevant du Public (ERP).</p>
    
  </div>
</section>
<br><br><br>
</body>



