.container {
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.filter-group {
  margin-bottom: 20px;
}

.devices-list {
  display: flex;
  flex-wrap: wrap;
}

.device-card {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.device-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.device-card h2 {
  font-size: 18px;
  margin-top: 10px;
  font-weight:bold;
}

.device-card p {
  margin-bottom: 10px;
}

.device-card .price {
  font-weight: bold;
  font-size: 16px;
}

.device-card button {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.nav-tabs {
  margin-bottom: 20px;
}

.nav-link {
  padding: 10px 15px;
}

.nav-link.active {
  background-color: #ddd;
  border-color: #ddd;
}

.devices-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.device-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.device-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.device-card p {
  margin-bottom: 10px;
}

.device-details {
  list-style: none;
  padding: 0;
}

.device-details li {
  margin-bottom: 5px;
}

/* //////////////////////////////////////////////////////*/

/* Style général */

button {
  background-color: #EF6622; /* Orange */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd; /* Yellow */
}

.nav-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  padding: 10px 20px;
  background-color: #EF6622;
  color: #ffffff;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.nav-link.active,
.nav-link:hover {
  background-color: #cdcecf; /* Orange */
  color: #ffffff;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  color:#4F84CE;
  TEXT-DECORATION: underline;
}

.device-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(89, 83, 83, 0.429);
  padding: 20px;
  transition: transform 0.3s ease;
}

.device-card:hover {
  transform: translateY(-5px);
}












