.ticket-editing-container {
  width: 850px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.ticket-editing-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.ticket-editing-form {
  width: 900px;
  display: grid;
  gap: 10px;
}

.ticket-editing-form label {
  font-weight: bold;
}

.ticket-editing-form input,
.ticket-editing-form textarea {
  width: 800px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.ticket-editing-form button {
  padding: 8px 16px;
  background-color: rgb(43, 193, 38);
  justify-content: center;
  width: 300px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.ticket-editing-form button:hover {
  background-color: #6ccb77;
}


.ticket-editing-form button.cancel {
  justify-content: center;
  background-color: #dc3545;
}

.ticket-editing-form button.cancel:hover {
  background-color: #c82333;
}

h1 {
  text-align:center;
  font-size: 36px;
  margin-bottom: 30px;
  color:#4F84CE;
 TEXT-DECORATION: underline; 
}

p{
  text-align:center;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;

  /* TEXT-DECORATION: underline; */
  
}
.success-message {
  color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #629f1d7a; /* Rouge */
  text-align:center;
}

/* Style pour le bouton de fermeture */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}





/* .ticket-editing-interface {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

.ticket-details {
  margin-bottom: 20px;
}

.ticket-details h3 {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  margin-left: 10px;
} */
