.footer-icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  margin: 8px 5px;
  cursor: pointer;
  transition: 0.5s;
  background: #d6d8d857;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  z-index: 1000;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;


}

.footer-icons a:hover {
  color: #2196f3; /* Couleur des icônes au survol */
}
.footer-content {
  display: flex;
  flex-direction: column;

}








